<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Index</h1>
<p>
    <a href="{% url 'register' %}">Register</a>
</p>>
<p>
    <a href="{% url 'login' %}">Log in</a>
</p>>
{% if request.user.is_authenticated %}
    {{ request.user.username }}
{% endif %}
</body>
</html>