<a href="{% url 'add_problem' %}">Add Problem</a>

<p>
    <a href="{% url 'profile' username=request.user.username %}">Profile</a>
</p>

<form method="get">
    {{ filter.form.name_problem }}
    <input type="submit" value="Search">
</form>

{% for problem in problems %}
    <p>
        {{ problem.num_solution }}
        <a href="{% url 'detail_problem' slug=problem.slug %}">{{ problem.name_problem }} {{ problem.slug }}</a>
        <a href="{% url 'delete_problem' problem_id=problem.pk %}">Delete</a>
    </p>
{% endfor %}
